.appWrapper {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;
  height: 100vh;
}

.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content{
  flex: 1;
  overflow: auto;
}

.printArea {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

@media print {
  body * {
    visibility: hidden;
  }
  .printArea, .printArea * {
    visibility: visible;
    display: block !important;
  }
  .printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    height: auto;
  }
}